<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/script.js"></script>
</head>
<body>

<div class="login-container">
  <h2>EduConnect Administration</h2>
  <form action="/admin/main" method="POST" th:object="${admin}">
    <input type="text" class="input-field" name="username" placeholder="Username or Email" th:field="*{username}" required>
    <input type="password" class="input-field" name="password" th:field="*{password}" placeholder="Password" required>
    <button type="submit" class="login-button">Login</button>
    <p style="font-size: 10px; color: red" th:if="${param.loginError}" th:text="'մուտքանունը կամ գաղտնաբառը սխալ է'"/>
  </form>
  <a href="#" onclick="forgotPassword()" class="forgot-password">Forgot Password?</a>
</div>

<div class="footer">
  <p>&copy; 2025 EduConnect - All Rights Reserved</p>
</div>

</body>
</html>