<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EduConnect - Admin Login</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" href="/css/adminCss.css">
  <script src="/js/script.js" defer></script>
</head>
<body>
<div class="container admin-container">
  <div class="left-side admin-left-side">
    <img src="/images/educonnect_logo.png" alt="EduConnect Logo" class="logo" />
  </div>

  <div class="right-side">
    <div class="login-box">
      <h2>Մուտք Ադմինիստրացիա</h2>
      <form action="/admin/home" method="POST">
        <div class="input-group">
          <label for="admin-username">Էլ․ հասցե</label>
          <input type="text" id="admin-username" class="input-field" name="username" placeholder="Էլ․ հասցե" required />
        </div>
        <div class="input-group">
          <label for="admin-password">Գաղտնաբառ</label>
          <input type="password" id="admin-password" class="input-field" name="password" placeholder="Գաղտնաբառ" required />
        </div>
        <button type="submit" class="login-button admin-login-button">Մուտք</button>
        <p class="error-message" th:if="${param.loginError}" th:text="'Մուտքանունը կամ գաղտնաբառը սխալ է'" />
      </form>
      <a href="/forgot-password" class="forgot-password">Մոռացել եք՞ Գաղտնաբառը</a>
    </div>
  </div>
</div>
</body>
</html>