<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teacher Registration</title>
  <link rel="stylesheet" href="/css/teachersreg.css">
</head>
<body>
<div class="container">
  <div class="title">Admin Registration<h4>for Groups </h4></div>
  <div class="content">
    <form action="/admin/save/group" th:object="${groupInfo}" method="post">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Number</span>
          <input type="text" name="teName" th:field="*{groupNumber}" placeholder="Enter Group Number" required>
        </div>
      <div class="button">
        <input type="submit" value="Register">
      </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>